@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
  background-image: url("../images/redirection.png");
  margin: auto;  
}

#container{
  background-image: url("../images/redirection.png");
  border: 3px Ridge #2942d0;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container h3{
  font-weight: 700;
  font-size: 50px;
  color: #1b1b6d;
  font-family: "Funnel Display", sans-serif;
  text-align: center;
  text-shadow:
    0 0 5px #accfdb,
    0 0 10px #68cbec,
    0 0 20px #227198;
  padding-top: 30px;
}

#container h5{
  font-weight: 700;
  font-size: 35px;
  color: #2b2c82;
  font-family: "Poiret One", sans-serif;
  text-align: center;
}

input{
  font-size: 18px;
  font-family: "Funnel Display", sans-serif;
  border-radius: 10px;
  background-color: #a0d4e0;
  padding: 10px 10px 10px;
  margin: 0;
  border: 2px Solid Black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#submitBtn{
  text-decoration: none;
  font-size: 23px;
  padding: 10px 20px;
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  color: #136287;
  border: 1px Solid #1b334b;
  margin-top: 50px;
  box-shadow: 1px 1px 3px #306c84;
  background-color: #a0d4e0;
  text-align: center;
}